body {
  /*
  "flex" allows creating areas with predefined widths,
  enforcing positions along the Z-axis,
  and much more
  */

  display: flex;
  flex-direction: column;

  background-color: var(--md-sys-color-surface);

  /* initializing a minimum height forces the "footer" tag to be at the bottom of the page */

  min-height: 110vh;

  margin: 0;
  padding-top: 100px;
  padding-left: 12%;
  padding-right: 12%;

  cursor: default;

  color: var(--md-sys-color-on-background);
  font-family: "Noto Sans", sans-serif;
  text-align: left;
}

img {
  width: 100%;
}

iframe {
  border-radius: 24px;
  border-style: solid;
  border-color: var(--md-sys-color-primary-container);

  height: 80vh;

  margin-top: 16px;
}

p {
  text-align: justify;
}

ul {
  margin: 0 24px;
  padding: 0;
}

li {
  padding-bottom: 16px;
}

.horizontal1 {
  display: grid;
  grid-template-columns: auto auto auto;

  column-gap: 16px;
  row-gap: 24px;

  margin-bottom: 24px;
}

.horizontal2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 8px;
}

/****** header ******/

/*** theme and color button ***/

header {
  z-index: 2;

  font-size: 16px;
  font-weight: bold;
}

.theme {
  display: flex;

  position: fixed !important;

  border-radius: 24px;

  background-color: var(--md-sys-color-surface-container);

  top: 0;
  left: 0;

  margin: 16px;
}

.theme svg {
  width: 25px;
  height: 25px;
}

.theme button {
  display: block;

  border: none;
  border-radius: 16px;

  background-color: var(--md-sys-color-primary-container);

  margin: 8px;
  padding: 16px;

  cursor: pointer;

  transition: filter ease-in-out 0.2s;
}

/*animate on hover*/

.theme button:hover {
  filter: contrast(70%) hue-rotate(25deg);

  transition: filter ease-in-out 0.2s;
}

/*** navigation bar ***/

.navigation-bar {
  position: fixed !important;

  top: 0;
  left: 0;

  width: 20%;

  margin: 16px;
  margin-left: 40%;
  margin-right: 40%;
}

header ul {
  overflow: hidden;
  border-radius: 24px;
  list-style-type: none;

  margin: 0;

  background-color: var(--md-sys-color-surface-container);
}

header li {
  float: left;

  width: calc(100% / 2);

  padding: 0;
}

header li a {
  display: block;

  border-radius: 16px;

  margin: 8px;
  padding: 21px 8px;

  cursor: pointer;

  color: var(--md-sys-color-on-background);
  text-align: center;
  text-decoration: none;

  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
}

/*animate on button hover and when the button is active*/

header li a:hover,
.active {
  background-color: var(--md-sys-color-primary-container);

  color: var(--md-sys-color-on-primary-container);

  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
}

.active {
  cursor: default;
}

/*** language button ***/

.lang {
  position: fixed !important;

  top: 0;
  right: 0;

  margin: 16px;
}

.lang li a {
  padding: 21px;
}

/****** box1 ******/

.box1 {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90vh;

  margin: 24px 0;
}

.box1 a {
  color: var(--md-sys-color-on-background);
  text-decoration: none;
  cursor: default;
}

.box1 h1 {
  margin: 0;

  font-size: 200px;
  font-family: "Charm", cursive;
  text-align: center;
}

.box1 h2 {
  margin: 0;

  font-size: 24px;
  text-align: center;
}

/****** footer ******/

footer {
  z-index: 2;
  float: left;

  border-radius: 24px;
  background-color: var(--md-sys-color-surface-container);

  height: fit-content;

  margin-top: auto;
  margin-bottom: 16px;
  padding: 24px;

  text-align: center;
}

footer svg {
  width: 25px;

  padding: 7px;
}

footer .social-icon {
  display: block;

  border-radius: 16px;
  background-color: var(--md-sys-color-primary-container);

  margin: 7px;
  padding: 7px;

  transition: filter ease-in-out 0.2s;
}

/*animate on hover*/

footer .social-icon:hover {
  filter: contrast(70%) hue-rotate(25deg);

  transition: filter ease-in-out 0.2s;
}

footer div a {
  color: var(--text);
  text-decoration: none;
  font-weight: bold;

  transition: color ease-in-out 0.2s;
}

footer div a:hover {
  color: var(--md-sys-color-surface-tint);

  transition: color ease-in-out 0.2s;
}

/****** cards ******/

.cards {
  z-index: 1;
  float: left;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 24px;
  background-color: var(--md-sys-color-surface-container);

  padding: 16px;

  color: var(--md-sys-color-on-background);
  text-decoration: none;
  font-weight: bold;

  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
}

/*animate on hover*/

.cards:hover {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);

  transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;
}

.cards img {
  border-radius: 16px;

  height: 400px;
  object-fit: cover;

  margin-bottom: 16px;
}

/****** other devices ******/

@media (max-width: 1500px) {
  body {
    padding-left: 4%;
    padding-right: 4%;
  }

  .box1 h1 {
    font-size: 120px;
  }
}

@media (max-width: 1050px) {
  .horizontal1 {
    grid-template-columns: auto;
  }

  .theme {
    display: none;
  }

  .navigation-bar {
    width: 90%;

    margin-left: 5%;
    margin-right: 5%;
  }

  .lang {
    display: none;
  }

  .box1 h1 {
    font-size: 90px;
  }
}
